# Database Configuration
DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=
DB_NAME=pdam_billing

# OpenRouter API Key (Kecerdasan Buatan)
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemma-4-31b-it:free
OPENROUTER_EMBEDDING_MODEL=nvidia/nemotron-3-embed-1b:free

# Telegram Bot Token (Opsional - Untuk masa mendatang)
TELEGRAM_BOT_TOKEN=
